.nest {
    padding: 20px;
}

.topleft {
    display: flex;
    align-items: center;
    float: left;
}

nav {
    align-items: center;
    margin-bottom: 3%;
}

.about {
    padding: 10px;
}

.topright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social {
    height: 30px;
    width: 30px;
    padding: 5px;
}

.login {
    padding: 10px;
}

header {
    background-image: url(https://ucarecdn.com/eb6e85ad-105d-4367-89dd-4766d7ac9d14/-/crop/5100x2870/0,216/-/preview/-/resize/1680x/image.jpg);
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 10px white;
    margin: 20px 50px;
    position: relative;
    background-position: center;
}



.arrows {
    position: absolute;
    width: 40px;
}

#left-arrow {
    top: 130px;
    left: -10px;
}

#right-arrow {
    top: 130px;
    right: -10px;
}

h2 {
    text-align: center;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery img {
    height: 200px;
    width: 300px;
    margin: 2% 0;
    align-self: center;
}



.view {

    display: flex;
    justify-content: center;
    padding: 10px 80px 10px;
    background-image: url(assets/textures/az_subtle.png);
    background-color: darkgrey;
    background-blend-mode: multiply;
    color: white;
    text-decoration: none;
    width: 100px;
    margin-left: 45%;
    margin-bottom: 2%;
    
    
    
}

.view:hover {
    background-color: #ddd;
}

.bird {
    margin: 10px;
    height: 30px;
    width: 30px;
}

.bar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    background-color: gray;
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    background-image: url(assets/textures/az_subtle.png);
    background-color: silver;
    background-blend-mode: multiply;
    padding-bottom: 100px;
}

.nestfooter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin-right: 79%;
}

.search {
    display: flex;
    align-items: flex-start;
    margin-right: 30%;
    padding: 0px;
    background-color: white;
    margin-left: .5%;
    
}

.searchtext {
    
    margin-right: 75%;
    color: grey;
}

.zoom {
    width: 50%;
    padding: 10px;
    
}

.leftcolumn {
    float: left;
    
}

.footermiddle {
    float: left;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    
}


.minigallery {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    align-items: flex-start;
}

.minigallery img {
    padding: 5px;
    height: 100px;
    width: 100px;
}

.pictures {
    display: flex;
    flex-direction: column;
}

body {
    background-color: lightgray;
}

.footercontainer {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.findwho, .major {
    color:white;
}

a {
    text-decoration: none;
    color: grey;
}